/*Only write css here that will be used by element page*/
:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
  --color-light-red: #ed3b3b;
  --color-success: #2d8a2d;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .elementFilters {
      width: 100%;
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      position: relative;

      .searchElements,
      .sortElements,
      .selectTeam {
        width: min(100%, 200px);
        padding: 10px;
        border-radius: 8px;
        outline: none;
        border: none;
        color: var(--color-primary-a50);
        background-color: var(--color-surface-mixed-a10);
      }

      .searchElements {
        &::placeholder {
          color: var(--color-primary-a50);
        }
      }

      .filterMessage {
        font-size: 1.2rem;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
      }
    }

    .elementContainer {
      width: 100%;

      .elementList {
        width: 100%;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        overflow: auto;

        .element {
          width: min(100%, 500px);
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          border-radius: 20px;
          border-left: 1px solid var(--color-primary-a50);
          border-right: 1px solid var(--color-primary-a50);

          .elementStats {
            width: 100%;
            padding: 0 10px;
            display: flex;
            justify-content: flex-start;
            gap: 7px;

            img {
              width: 15px;
            }

            p {
              font-size: 0.8rem;
            }
          }

          .banner {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .buyElementBtn {
              padding: 5px !important;

              img {
                width: 20px;
              }
            }
          }

          .abilityContainer {
            margin-top: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            .abilityHeader {
              font-size: 1.1rem;
              font-weight: bold;
              color: var(--color-surface-a30);
            }

            .abilities {
              margin-top: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: var(--color-surface-a50);
              height: 60px;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
