:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
  --color-light-red: #ed3b3b;
}

header {
  padding-bottom: 10px;
  /* border-bottom: 1px solid var(--color-surface-mixed-a50); */

  .head {
    font-size: 2.5rem;
  }

  .teamNames {
    padding: 10px 12vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .teamName {
      font-size: 2rem;
    }

    .vs {
      font-size: 1.6rem;
    }
  }
}

body {
  overflow: auto;

  main {
    .teamsContainer {
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: space-between;

      .team {
        width: fit-content;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        position: relative;
        background-color: var(--color-surface-a10);
        border: 2px solid var(--color-primary-a50);

        .teamName {
          font-size: 2rem;
          margin-top: -20px;
        }

        .teamMonsterToggle {
          position: absolute;
          top: 20px;
          right: 20px;
        }

        .teamInfo {
          display: grid;
          grid-template-columns: 1;
          grid-template-rows: 1;

          .teamStats {
            width: 100%;
            padding: 20px;
            margin-bottom: 50px;
            border-radius: 20px;
            background-color: var(--color-surface-a10);
            grid-column: 1;
            grid-row: 1;

            .teamStatsContainer {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;

              .statsContainer {
                display: flex;
                gap: 20px;
                .teamStat {
                  h2 {
                    font-size: 1.2rem;
                  }
                  p {
                    font-size: 1rem;
                  }
                }
              }
            }
          }

          .teamMonsters {
            padding: 20px;
            display: flex;
            opacity: 0;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 20px;
            box-shadow: inset 0 0 10px var(--color-surface-a0);
            background-color: var(--color-surface-a10);
            grid-column: 1;
            grid-row: 1;

            .monsterInfo {
              display: flex;

              .monsterStats {
                width: fit-content;
                padding: 10px;

                .monsterAllStats {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  .mainStats {
                    margin-bottom: 32px;
                  }

                  .mainStats,
                  .generalStats {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;

                    .monsterStat,
                    .generalStat {
                      max-width: 3.5rem;

                      h2 {
                        font-size: 0.8rem;
                      }

                      p {
                        font-size: 0.7rem;
                      }
                    }
                  }

                  .generalStats {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);

                    .generalStat {
                      padding: 10px;
                      border-radius: 10px;
                      background-color: var(--color-surface-mixed-a10);
                    }
                  }

                  .statsBar {
                    height: 3px;
                  }
                }
              }

              .monsters {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;

                .monsterFighCard {
                  grid-column: 1;
                  grid-row: 1;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            .monsterFought {
              width: 100%;
              padding: 0 10px;
              display: flex;
              justify-content: space-between;

              .fightRecord {
                width: 100%;
                &:nth-child(n + 2) {
                  border-left: 1px solid var(--color-surface-a50);
                }
                .fightRecordHeader {
                  font-size: 1rem;
                }

                .fightRecordList {
                  height: 120px;
                  padding-bottom: 10px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  overflow-y: auto;
                }
              }
            }

            .carousel {
              display: flex;
              justify-content: center;
              gap: 15px;
              grid-area: carousel;

              .carouselBtn {
                cursor: pointer;
                width: 12px;
                height: 12px;
                border: 0;
                outline: none;
                border-radius: 50%;
                background-color: var(--color-surface-a20);
              }

              .carouselBtn-checked {
                background-color: var(--color-surface-a30);
              }
            }
          }
        }
      }
    }
  }
}

.monsterFighCard {
  width: 200px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  /* border: 2px solid black; */
  background-clip: content-box;
  background-position: 80% 0%;

  .name {
    font-size: 1rem;
  }

  .stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;

    .stat {
      gap: 4px;

      p {
        font-size: 0.8rem;
      }

      img {
        width: 16px;
      }
    }
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: -1;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    top: auto;
    bottom: 0;
    height: 8rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

footer {
  right: auto !important;
  left: 50% !important;
  bottom: 20px !important;
  transform: translate(-50%) !important;
}
