/*Only write css here that will be used by monster page*/

:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  height: auto;
  overflow: hidden;
}

main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#filterCatalogueContainer {
  width: 500px;
  padding: 10px;
  margin: 50px 0 60px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: var(--color-surface-a10);
}

#filterToggle {
  position: absolute;
  top: 8px;
  right: 10px;
}

.searchSortContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#searchBox {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--color-primary-a50);
  background-color: var(--color-surface-mixed-a10);
}

#searchBox::placeholder {
  color: var(--color-primary-a50);
}

#searchContainer {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 15px;
}

#searchCategory {
  display: flex;
  gap: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-surface-a10);
}

input[type="radio"]:checked + label {
  background-color: var(--color-surface-mixed-a10);
}

#sortContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#sortDropdown {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--color-primary-a50);
  background-color: var(--color-surface-mixed-a10);
}

#monsterContainer {
  max-height: 100vh;
  padding-bottom: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #121212;
}

.monsterCard {
  width: 400px;
  aspect-ratio: 6/10;
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  isolation: isolate;
  color: var(--color-primary-text);
  background: url("../res/img/monsterCard.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.monsterName {
  font-size: 1.4rem;
  font-weight: 900;
  grid-column: 1;
  grid-row-start: 10;
  grid-row-end: 16;
}

.monsterImg {
  grid-row-start: 17;
  grid-row-end: 52;
  width: 75%;
  aspect-ratio: 100/77;
  border-radius: 5px;
  position: relative;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.monsterPrice {
  position: absolute;
  white-space: nowrap;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.monsterImg::after {
  content: "";
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 55%, rgba(107, 106, 106, 0) 100%);
}

.monsterSpecs {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  grid-row-start: 55;
  grid-row-end: 65;
}

.monsterStats {
  width: 88%;
  display: flex;
  justify-content: space-between;
  grid-column: 1;
  grid-row-start: 65;
  grid-row-end: 74;
}

.monsterElements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  grid-column: 1;
  grid-row-start: 45;
  grid-row-end: 74;
}

.elementList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.monsterSelect {
  grid-column: 1;
  grid-row-start: 80;
  grid-row-end: 101;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  border: 0;
  outline: none;
  color: var(--color-primary-text);
  background-color: var(--color-surface-mixed-a10);
}

.monsterImage {
  height: 400px;
  aspect-ratio: 6/10;
  background-repeat: no-repeat;
  position: relative;
}

.monsterLoadingSkeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite ease-in-out;
}

.quickScroll {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--color-surface-a0);

  ul {
    display: flex;
    gap: 15px;

    padding: 12px 20px;
    box-shadow: inset var(--color-surface-a20) 0px 0px 30px -12px;
    border-radius: 30px;
  }
}

.scrollFilter {
  width: 100vw;
  position: fixed;
  bottom: -60px;
  background: black;
  box-shadow: 0px -100px 150px 200px rgba(0, 0, 0, 1);
}

footer {
  transform: translate(0) !important;
  left: auto !important;
  right: 20px !important;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
