/*Only write css here that will be used by team page*/

/* :root {
    --color-primary-lightest: #f6f9f9;
    --color-primary-light: #ecf1f2;
    --color-primary: #c4d7d9;
    --color-primary-medium: #aec9cb;
    --color-primary-dark: #82abae;
    --color-primary-darker: #629295;
    --color-secondary: #4e777b;
    --color-secondary-dark: #406064;
    --color-tertiary: #385154;
    --color-tertiary-dark: #324548;
    --color-tertiary-darker: #212e30;
    --filter: rgba(0, 0, 0, 0.75);
  } */

::-webkit-scrollbar {
  width: 0;
}

body {
  height: auto;
}

main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.createTeamContainer {
  /**/
}

.teamFilters {
  width: min(100%, 600px);
  height: 100px;
  border: 1px solid seashell;
}

.teamStatsContainer {
  position: absolute;
  width: min(100%, 300px);
  top: 0;
  left: -270px;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 18px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--color-primary-lightest);
}

.collapsed {
  left: -270px;
}

.extended {
  left: 0px;
}

.teamStatsHeading {
  padding: 10px 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.teamStatsHeader {
  font-size: 1.7rem;
}

.teamStatsList {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-primary-light);
}

.teamStatContainer {
  background-color: var(--color-primary);
}

.teamStatHeaderContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.teamStatNumMonsters p {
  font-size: 0.9rem;
}

.teamStatNumMonsters img {
  width: 20px;
}

.teamStatHeader {
  font-size: 1.5rem;
}

.teamStatTopStatsContainer,
.teamStatAverageStatsContainer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teamStatTopStatsIcon p {
  font-size: 0.9rem;
}

.teamStatTopStatsIcon img {
  width: 15px;
}

.teamStatAverageStatsValue h2 {
  font-size: 0.9rem;
}

.teamStatAverageStatsValue p {
  font-size: 0.8rem;
}

.teamStatEndToEndMonstersContainer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.45);
}

.teamStatMonstersHeader {
  align-self: flex-start;
  font-size: 1.2rem;
}

.teamStatCenterTopMonster {
  justify-content: center;
}

.teamStatFocusMonsterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.teamStatAloneMonster {
  align-items: center;
}

.teamStatWeakMonster {
  align-items: flex-end;
}

.teamStatFocusMonsterHeader {
  font-size: 1.1rem;
}

.teamStatFocusMonsterName {
  font-size: 0.9rem;
}

.teamStatFocusMonsterIcon p {
  font-size: 0.8rem;
}

.teamStatFocusMonsterIcon img {
  width: 15px;
}

.teamStatMonstersContainer {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.teamStatElementsHeading {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.teamStatElmentsHeader {
  padding: 5px 10px;
  font-size: 1.2rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid snow;
}

.teamStatElmentsHeader::before {
  content: attr(data-elements);
  position: absolute;
  left: -6px;
  top: -18px;
  padding: 3px;
  border-radius: 50%;
  /* padding: 2px 10px; */
  /* background-color: red; */
  background-color: var(--color-primary);
}

.teamStatElementsToggle {
  width: 25px;
}

/* .teamStatNumElements {
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.45);
} */

.teamStatMonsters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.teamStatElementsContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.teamStatElements {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.teamStatElementContainer {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.teamStatElementRating p {
  font-size: 0.8rem;
}

.teamStatElementRating img {
  width: 25px;
}

.teamStatMonsterInfoContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* justify-content: space-between; */
}

.teamStatMonsterStats {
  display: flex;
  /* justify-content: flex-start; */
  gap: 3px;
}

.teamsContainer {
  max-width: 1400px;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  background-color: var(--color-primary-light);
}

.teamContainer {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
  position: relative;
  background-color: var(--color-primary);
}

.teamHeaderContainer {
  width: 100%;
  height: 100px;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}

.teamBodyContainer {
  width: 100%;
  position: relative;
}

.teamHeader {
  font-size: 3rem;
}

.teamMessage {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  cursor: default;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.teamMonsters {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  border: 3px solid var(--color-primary-lightest);
}

.teamControls {
  width: 100%;
  height: 100px;
  position: relative;
}

@media (max-width: 1445px) {
  .teamsContainer {
    min-width: 740px;
    width: fit-content;
  }

  .teamMonsters {
    width: min-content;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 760px) {
  .teamsContainer {
    min-width: 70vw;
    max-width: 94vw;
    width: 100%;
  }

  .teamMonsters {
    width: 50vw;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
