#teamsContainer {
  min-width: 100%;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #2b2a2a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

#teamsContainer .teamDiv {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #474646;
  position: relative;
}

.deleteMonstersContainer {
  width: 100%;
  padding: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

#teamsContainer .teamDiv ul {
  width: 1200px;
  min-height: 300px;
  display: flex;
  border: 2px solid snow;
  isolation: isolate;
  position: relative;
}

#teamsContainer .teamDiv ul::after {
  content: "Drag and drop fighters here (max 4)";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.deleteTeamBtn {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  filter: invert(1);
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-out;
}

.deleteTeamBtn:hover {
  transform: scale(1.15);
}
