/*Css code for teamControls page*/

:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  height: auto;
}

body,
header,
main,
footer {
  background-color: var(--color-surface-a0);
  color: var(--color-primary-text);
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-surface-mixed-a0);
}

header .pageInfo {
  width: fit-content;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .pageInfo .pageInfoTeamCost {
  margin: 10px 0 0 0;
}

header .pageInfo h1 {
  color: var(--color-primary-a50);
  font-size: 2.4rem;
  margin: 0;
}

header .pageInfo h2 {
  font-size: 3.4rem;
}

header .headerControls {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

main {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.teamControls {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .controlMessage {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.6rem);
  }

  .controlBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .controlBtn {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    background-color: var(--color-surface-a10);
  }

  .controlBtn img {
    width: 35px;
  }

  .controlBtn:hover {
    background-color: var(--color-surface-a20);
  }

  .controlBtn:active {
    border: 2px solid var(--color-surface-a40);
  }
}

.teamStatsConatiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 60px;

  .teamStatsIcon {
    padding: 15px 30px;
  }

  .teamStatsIcon,
  .teamAverageStatsIcon {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-left: 1px solid var(--color-primary-a50);
    border-right: 1px solid var(--color-primary-a50);
    box-shadow: 2px 2px 10px rgba(230, 228, 255, 0.4);
    background-color: var(--color-surface-a10);
  }

  .teamStatsIcon p {
    font-size: 2rem;
  }

  .teamStatsIcon img {
    width: 35px;
  }
}

.monsterCard {
  width: 300px;

  .monsterSpecs {
    width: 80%;
    grid-row-start: 58;
    grid-row-end: 65;
  }

  .monsterStats {
    grid-row-start: 70;
    grid-row-end: 84;
  }

  .removeMonsterBtn {
    position: absolute;
    bottom: 45px;
  }
}

.teamMonsters {
  width: 100%;
  margin-top: 60px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.monsterCardContainer {
  padding: 60px;
  width: 405px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.monsterCardContainer:hover {
  transform: scale(1.03);
}

.monsterCardContainer::after {
  content: attr(data-teamRank);
  font-size: 2rem;
  position: absolute;
  right: 17px;
  bottom: 17px;
}

.shiftMonsterBtn {
  position: absolute;
  top: 10px;
  left: 15px;
}

.teamElementsContainer {
  .teamElementsHeading {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .teamElementsHeader {
      font-size: 2.2rem;
    }
  }

  .teamElementsBody {
    .teamElementsFilters {
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      gap: 20px;

      .teamElementsSearch,
      .teamElementsSort {
        width: min(100%, 400px);
        padding: 12px;
        border-radius: 8px;
        border: 0;
        outline: none;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        color: var(--color-primary-text);
        background-color: var(--color-surface-mixed-a10);
      }

      .teamElementsSearch::placeholder {
        color: var(--color-primary-text);
      }
    }

    .teamElements {
      margin-top: 20px;
      .elementContainer {
        display: flex;
        justify-content: space-between;

        .elementName {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.battleRecordContainer {
  .heading {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      font-size: 2.2rem;
    }
  }

  .body {
    padding: 10px;
    margin-top: 20px;

    .stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .statsGroup {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .stat {
          width: fit-content;
          width: 15rem;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 7px;
          border-radius: 12px;
          border-left: 1px solid var(--color-primary-a50);
          border-right: 1px solid var(--color-primary-a50);
          box-shadow: 2px 2px 10px rgba(230, 228, 255, 0.4);
          background-color: var(--color-surface-a10);

          p {
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }

      .progressBar {
        margin-bottom: 60px;
        box-shadow: 2px 2px 10px rgba(230, 228, 255, 0.4);
      }
    }
  }
}

.border-gold {
  width: 95%;
  margin-top: 60px;
  padding: 50px;
  border: 2px solid var(--color-primary-a30);
  border-radius: 30px;
  position: relative;
}

.border-icon {
  padding: 12px;
  top: -30px;
  left: -40px;
  border-radius: 30px;
  position: absolute;
  background-color: var(--color-surface-a0);
  border: 2px solid var(--color-primary-a30);
}

@media (max-width: 1300px) {
  .teamStatsConatiner {
    grid-template-columns: repeat(2, 1fr);
  }

  .teamMonsters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .teamStatsConatiner {
    grid-template-columns: repeat(1, 1fr);
  }

  .teamMonsters {
    grid-template-columns: repeat(1, 1fr);
  }
}
