:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
  --color-light-red: #ed3b3b;
}

.actionContainer {
  width: min(100%, 1000px);
  margin: 40px 0 70px 0;
  display: flex;
  justify-content: center;

  border-radius: 20px;
  background-color: var(--color-surface-a10);

  .createTeamContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

    .createTeamHeader {
      width: 100%;
      margin-bottom: 80px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-primary-a50);
    }

    .createTeamMessage {
      width: 85%;
      font-size: 1.1rem;
      text-align: center;
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }

    .createTeamForm {
      width: 100%;
      /* padding-top: 90px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: relative;

      .teamName {
        width: 100%;
        font-size: 1.4rem;
        border: 0;
        outline: 0;
        border-bottom: 2px solid var(--color-primary-text);
        color: var(--color-primary-text);
        background-color: transparent;
      }

      .teamName:focus + .teamNameLabel {
        transform: translateY(-2rem);
      }

      .teamName:not(:placeholder-shown) + .teamNameLabel {
        transform: translateY(-2rem);
      }

      .teamNameLabel {
        font-size: 1.1rem;
        position: absolute;
        left: 0;
        top: -4px;
        transition: all 0.3s;
        color: var(--color-primary-text);
      }

      .createTeamBtn {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 10px;
        color: var(--color-primary-text);
        background-color: var(--color-surface-mixed-a10);
        width: 100%;
      }

      .createTeamBtn:hover {
        background-color: var(--color-surface-mixed-a20);
      }
    }
  }

  .teamFilters {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;

    .filterTeamsHeader {
      width: 100%;
      margin-bottom: 80px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-primary-a50);
    }

    .searchTeamsForm {
      width: 100%;
      position: relative;

      .searchTeams {
        width: 100%;
        font-size: 1.4rem;
        border: 0;
        outline: 0;
        border-bottom: 2px solid var(--color-primary-text);
        color: var(--color-primary-text);
        background-color: transparent;
      }

      .searchTeams:focus + .searchTeamsLabel {
        transform: translateY(-2rem);
      }

      .searchTeams:not(:placeholder-shown) + .searchTeamsLabel {
        transform: translateY(-2rem);
      }

      .searchTeamsLabel {
        width: fit-content;
        font-size: 1.1rem;
        position: absolute;
        top: -4px;
        left: 0;
        transition: all 0.3s;
        color: var(--color-primary-text);
      }
    }

    .sortTeams {
      width: 100%;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 10px;
      margin-top: 10px;
      border-radius: 10px;
      border: 0;
      outline: none;
      color: var(--color-primary-text);
      background-color: var(--color-surface-mixed-a10);
    }
  }
}

.teamsContainer {
  width: min(100%, 1600px);
  padding: 40px;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 40px;

  .teamCard {
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--color-surface-a10);

    .cardHeading {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(100, 1fr);
      grid-template-rows: 1fr;

      .cardHeader {
        grid-row: 1;
        font-size: 2.5rem;
        grid-column: 4/10;
      }

      .toggle {
        grid-row: 1;
        grid-column: 0/5;
      }

      .fight {
        grid-row: 1;
        grid-column: 89/95;
      }

      .settings {
        grid-row: 1;
        grid-column: 96/101;
      }
    }

    .cardBody {
      padding: 40px;

      .cardMonsters {
        display: flex;
        gap: 40px;
        justify-content: center;
      }
    }
  }
}

.monsterCard {
  width: 300px;

  .monsterSpecs {
    width: 80%;
    grid-row-start: 58;
    grid-row-end: 65;
  }

  .monsterStats {
    grid-row-start: 70;
    grid-row-end: 84;
  }

  .removeMonsterBtn {
    position: absolute;
    bottom: 45px;
  }
}
