/*Only write css here that will be used by every pages*/

:root {
  --color-primary-lightest: #f6f9f9;
  --color-primary-light: #ecf1f2;
  --color-primary: #c4d7d9;
  --color-primary-medium: #aec9cb;
  --color-primary-dark: #82abae;
  --color-primary-darker: #629295;
  --color-secondary: #4e777b;
  --color-secondary-dark: #406064;
  --color-tertiary: #385154;
  --color-tertiary-dark: #324548;
  --color-tertiary-darker: #212e30;
  --filter: rgba(0, 0, 0, 0.75);
  --color-primary-text: #e6e4e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*css for body*/
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-tertiary-dark);
  background-color: var(--color-primary-lightest);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 0;
  outline: none;
}

.btn {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconContainer p {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  font-weight: bold;
}

.icon {
  width: 30px;
  color: var(--color-primary-text);
  transition: all 0.3s ease-in-out;
}

.icon-scale {
  cursor: pointer;
  display: inline-block;
}

.icon-scale:hover {
  transform: scale(1.07);
}

.btnImg {
  cursor: pointer;
}

.icon-btn {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: 0.3s all ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--color-primary-dark);
}

.smallIconToggle {
  padding: 3px 6px;
}

.smallIconToggle img {
  width: 20px;
}

.icon-btn:hover {
  background-color: var(--color-primary);
}

.icon-btn:active {
  border: 2px inset black;
}

.error {
  color: rgb(243, 67, 67);
}

.success {
  color: rgb(13, 202, 13);
}

.hidden {
  display: none;
  visibility: hidden;
}

.alignLeft {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.alignCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alignRight {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.valueWithHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progressBar {
  display: flex;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: green;
}

.regress {
  height: 100%;
  background-color: red;
}

.neutral {
  height: 100%;
  background-color: grey;
}

.averageValueIcon {
  position: relative;

  img,
  p {
    position: absolute;
  }

  .mainIcon {
    width: 25px;
    top: 15%;
    left: 9%;
  }

  .subIcon {
    width: 25px;
    top: 39%;
    left: 33%;
  }

  .averageValue {
    font-size: 1.6rem;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.averageValueIcon::after {
  content: "";
  width: 45px;
  height: 2px;
  position: absolute;
  left: 13%;
  top: 45%;
  transform: rotate(-45deg);
  background-color: var(--color-primary-text);
}
