/*Only write css here that will be used by every pages*/

:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
  --color-light-red: #ed3b3b;
  --color-success: #2d8a2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*css for body*/
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-tertiary-dark);
  background-color: var(--color-primary-lightest);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 0;
  outline: none;
}

.btn {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconContainer p {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
}

.primary-btn {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  color: var(--color-primary-text);
  background-color: var(--color-surface-a10);
}

.primary-btn img {
  width: 30px;
}

.btn-small {
  padding: 2px 2px;
}

.btn-small img {
  width: 25px;
}

.primary-btn:hover {
  background-color: var(--color-surface-a20);
}

.primary-btn:active {
  border: 2px solid var(--color-surface-a40);
}

.icon {
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.icon-scale {
  cursor: pointer;
  display: inline-block;
}

.icon-scale:hover {
  transform: scale(1.07);
}

.btnImg {
  cursor: pointer;
}

.icon-btn {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: 0.3s all ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--color-primary-dark);
}

.smallIconToggle {
  padding: 3px 6px;
}

.smallIconToggle img {
  width: 20px;
}

.icon-btn:hover {
  background-color: var(--color-primary);
}

.icon-btn:active {
  border: 2px inset black;
}

.error {
  color: var(--color-light-red);
}

.success {
  color: rgb(13, 202, 13);
}

.hidden {
  display: none;
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

.none {
  display: none !important;
}

.flex {
  display: flex !important;
}

.visible {
  visibility: visible !important;
}

.noneVisible {
  visibility: hidden !important;
}

.alignLeft {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.alignCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alignRight {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.valueWithHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progressBar {
  display: flex;
  width: 100%;
  height: 5px !important;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: green;
}

.regress {
  height: 100%;
  background-color: red;
}

.neutral {
  height: 100%;
  background-color: var(--color-surface-mixed-a40);
}

.averageValueIcon {
  position: relative;

  img,
  p {
    position: absolute;
  }

  .mainIcon {
    width: 25px;
    top: 15%;
    left: 9%;
  }

  .subIcon {
    width: 25px;
    top: 39%;
    left: 33%;
  }

  .averageValue {
    font-size: 2rem;
    font-weight: bold;
    left: 55%;
    top: 50%;
    transform: translateY(-55%);
  }
}

.averageValueIcon::after {
  content: "";
  width: 45px;
  height: 2px;
  position: absolute;
  left: 15%;
  top: 47%;
  transform: rotate(-45deg);
  background-color: var(--color-primary-text);
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.accuracyMeter {
  width: min(100%, 500px);
  height: 20px;
  border-radius: 20px;
  background: url(../../res/img/meterColors.png) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 15px var(--color-surface-a0);

  .pin {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slide 0.5s linear infinite;
    background-color: var(--color-primary-a50);
  }
}

.iconStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

@keyframes slide {
  0% {
    left: 100%;
    transform: translateX(-50%);
  }
  50% {
    left: 0;
    transform: translateX(-50%);
  }
  100% {
    left: 100%;
    transform: translateX(-50%);
  }
}
