.confirmModuleContainer {
  width: min(100%, 800px);
  height: 800px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 10px 10px 41px 0px rgba(255, 13, 13, 1);
  background-color: var(--color-primary-light);
}

.confirmModuleFilter {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: -50vw;
  background-color: rgba(0, 0, 0, 0.93);
}

.confirmModuleHeader {
  font-size: 10rem;
}

.confirmModuleClose {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--color-primary-dark);
}

.confirmModuleClose:hover {
  background-color: var(--color-primary-medium);
}

.confirmModuleText {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.confirmModuleForm {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  padding-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  border: 2px solid var(--color-tertiary-darker);
}

.confirmModuleInput {
  width: 100%;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  color: var(--color-tertiary-darker);
  background-color: var(--color-primary-dark);
}

.confirmModuleInput::placeholder {
  color: var(--color-tertiary-darker);
}

.confirmModuleLabel {
  font-size: 1.7rem;
  letter-spacing: 1.4px;
  white-space: nowrap;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary-light);
}

.confirmModuleFormBtnContainer {
  width: 100%;
  display: flex;
  gap: 20px;
}

.confirmModuleFormBtnContainer button {
  cursor: pointer;
  width: 50%;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s all ease-in-out;
  color: var(--color-tertiary-darker);
  background-color: var(--color-primary-dark);
}

.confirmModuleFormBtnContainer button:hover {
  background-color: var(--color-primary-medium);
}
